<div id="layoutAuthentication">
  <div id="layoutAuthentication_content">
    <main>
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-7">
            <div class="card shadow-lg border-0 rounded-lg mt-5">
              <div class="card-header">
                <h3 class="text-center font-weight-light my-4">
                  Créer un compte
                </h3>
              </div>
              <div class="card-body">
                <form id="register-form">
                  <div class="form-floating mb-3">
                    <input
                      class="form-control"
                      id="inputEmail"
                      name="email"
                      type="email"
                      placeholder="name@example.com"
                      required
                    />
                    <label for="inputEmail">Adresse email</label>
                  </div>
                  <div class="form-floating mb-3">
                    <input
                      class="form-control"
                      id="inputPassword"
                      name="password"
                      type="password"
                      placeholder="Mot de passe"
                      required
                    />
                    <label for="inputPassword">Mot de passe</label>
                  </div>
                  <div class="form-floating mb-3">
                    <input
                      class="form-control"
                      id="inputPasswordConfirm"
                      name="confirmPassword"
                      type="password"
                      placeholder="Confirmer le mot de passe"
                      required
                    />
                    <label for="inputPasswordConfirm"
                      >Confirmer le mot de passe</label
                    >
                  </div>
                  <div class="d-grid mt-4 mb-0">
                    <button class="btn btn-primary btn-block" type="submit">
                      Créer le compte
                    </button>
                  </div>
                </form>
              </div>
              <div class="card-footer text-center py-3">
                <div class="small">
                  <a href="/login">Vous avez déjà un compte ? Connectez-vous</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
  </div>
</div>
<script src="/js/register.js"></script>
